//  base colors
$base: #73030D;
$black: #0D0605;
$red: #D92929;
$medium-gray: #2f5858;
$loadedTag: #fff2df;

// look for color scheme to begin this style sheet
// text

.text-white{
  color:white;
}


// backgrounds