.contact-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
  }
}

// Form styling
.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 20px;
      overflow: hidden;
      display: block;
      position: relative;
      // opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;
      color: #000;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 3px solid;
    border-color: #000;
    background: #f9f9f9;
    height: 50px;
    font-size: 16px;
    color: #000;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 3px solid;
    border-color: #000;
    background: #f9f9f9;
    height: 150px;
    font-size: 16px;
    color: #000;
    padding: 20px;
    min-width: 150px;
    box-sizing: border-box;
  }

  .texta-text {
    color: #000;
  }

  .flat-button {
    color: #000;
    background: 0 0;
    font-size: 16px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 12px 30px;
    border: 1px solid #01bf71;
    float: right;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
      transition: all 0.2s ease-in-out;
      // background: ${({ primary }) => (primary ? "#fff" : "#01BF71")};
      background: #01bf71;
    }
  }
}
