.info-map {
  position: relative;
  background-color: #000;
  top: 50px;
  left: 20%;
  z-index: 999999;
  width: 267px;
  padding: 10px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  // opacity: 0;
  margin: 0 auto;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;
  transform: translateY(-260%);

   span {
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: #ffd700;
   }

   @media screen and (max-width: 768px){
    display: none;
   }
}

.map-wrap {
  background: rgba(8, 253, 216, 0.1);
  justify-content: center;
  // width: 100vh;
  height: 6%;
  margin: 0 auto;
  border: 34px;
  border-color: red;
  // position: relative;
}

.leaflet-container{
  margin: 0 auto;
  width: 57vh;
  height: 75%;
  padding:20px;
  position: absolute;
  transform: translateY(-60%);
  justify-self: center;

  @media screen and (max-width: 768px){
    width: 45vh;
    height: 40vh;
    max-width: 85%;
  }

  @media screen and (max-width: 375px){
    width: 44.5vh;
    height: 40vh;
    max-width: 85%;
  }
}